/* =================ROOT========================*/
:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}
/* =================/ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}
/* =================/RESETS========================*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* Frontend Mentor Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: var(--blue);
}