/* =================ROOT========================*/
:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    /* Box shadow */
    --box-shadow: 0px 6px 0px hsla(249, 10%, 26%, 0.1);
}
/* =================/ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}

a {
    text-decoration: none;
    color: var(--grayish-blue);
}
/* =================/RESETS========================*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--red);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;*/
    /* Im not sure why this isnt needed to resposition the footer 15px from the bottom of the viewport. 
    Normally i have needed to do this with similar projects */
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 70em;
}

.info-container {
    padding: 4em;
    width: 100%;
}

.info-container h1 {
    line-height: 110%;
    margin-bottom: .5em;
    font-weight: 700;
    font-size: 2.5rem;
}

.info-container .info {
    font-size: .8rem;

}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--grayish-blue);
}

.pricing-container {
    width: 100%;
    background-color: var(--blue);
    padding: 1em 2em;
    border-radius: .5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    box-shadow: var(--box-shadow);
    font-size: .8rem;
    font-weight: 500;
}

.pricing-accent {
    font-weight: 700;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2em;
    border-radius: .5em;
    width: 80%;
    box-shadow: var(--box-shadow);
}

::placeholder {
    font-weight: 600;
}

form button {
    color: white;
    text-transform: uppercase;
    background-color: var(--green);
    border: 1px solid var(--green);
    font-weight: 600;
}

input, button {
    outline: none;
    margin: 0;
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
    border-radius: .5em;
}

button {
    cursor: pointer;
}

input {
    border: 1px solid var(--grayish-blue);
}

input:focus {
    border: 1px solid var(--blue);
}

.terms {
    font-size: .6rem;
}

.button-accent {
    color: var(--red);
    font-weight: 700;
}

.error-container {
    font-size: .6rem;
    color: var(--red);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.error-icon {
    position: absolute;
    right: 2em;
    top: -6.5em;
}

.error-msg {
    position: absolute;
    right: 0;
    top: -2.5em;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

@media (max-width: 800px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .pricing-container,
    .form-container,
    .info-container {
        width: 100%;
    }

    .pricing-container {
        padding: 1.5em 6em;
    }

    .info-container h1 {
        line-height: 150%;
        margin-bottom: .5em;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 0 .5em;
    }

    .info-container {
        padding: 0;
    }

    .info {
        font-weight: 600;
    }

    .pricing-container,
    .info-container {
        text-align: center;
        margin: 2em 0;
    }

    .form-container {
        margin-bottom: 2em;
    }

    /* Iv removed the footer from the mobile version because i could not manage to place is at the bottom of the content
    Iv normally done this with position: absolute on the footer and position: relative on the body...but for this project
    the footer will only stay at the bottom of the initial viewport load window*/
    footer {
        display: none;
    }

    .terms {
        text-align: center;
    }

    .error-icon {
        top: 4em;
    
}

/* Frontend Mentor Footer */

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;

}
.attribution a { 
    color: var(--blue);
}